<div class="col-md-12">
<div class="group">
    <span class="pull-right">        
        <% if current_user && current_user.is_member_of?(@group) %>
            <label class="label label-success">已是<%= @group.title %>成員 </label>
            <%= link_to "退出#{@group.title}", quit_moviegroup_path(@group), method: :post, class: "btn btn-default" %>
        <% else %>
            <label class="label label-warning">不是<%= @group.title %>成員 </label>
            <%= link_to "加入#{@group.title}", join_moviegroup_path(@group), method: :post, class: "btn btn-default" %>
        <% end %>        
    </span>
    
    <% if current_user && current_user.is_member_of?(@group) %>
    <%= link_to "發表評論", new_moviegroup_review_path(@group),class: "btn btn-default pull-right" %>
    <% end %>    
    <% if current_user && current_user == @group.user %>            
    <%= link_to "修改", edit_moviegroup_path, class: "btn btn-primary pull-right" %>
    <% end %>
</div>
<h2><%= @group.title %> </h2>
<p><%= render_moviegroup_description(@group) %></p>
<table class="table">
<thead>
<tr>
<th>評論内容</th>
<th>評論者</th>
<th>發表時間</th>
</tr>
</thead>
<tbody>
    <% @posts.each do |post| %>
    <tr>
        <td><%= post.content %></td>
        <td><%= post.user.email %></td>
        <td><%= post.created_at %></td>
    </tr>
    <% end %>
</tbody>
</table>
<div class="text-center">
    <%= will_paginate @posts%>
</div>
</div>
<%= link_to "回首頁", moviegroups_path,  class: "btn btn-primary pull-right" %>